<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payoneer.checkout">

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:hardwareAccelerated="true">
        <activity
            android:name="com.payoneer.checkout.ui.page.PaymentListActivity"
            android:theme="@style/PaymentTheme" />
        <activity
            android:name="com.payoneer.checkout.ui.page.ChargePaymentActivity"
            android:theme="@style/PaymentTheme" />
    </application>
</manifest>
