<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.optile.payment">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:hardwareAccelerated="true">
        <activity
            android:name="net.optile.payment.ui.page.PaymentListActivity"
            android:theme="@style/PaymentThemeDarkActionBar"/>
        <activity
            android:name="net.optile.payment.ui.page.ProcessPaymentActivity"
            android:theme="@style/PaymentThemeNoActionBar"/>
    </application>
</manifest>
